[Unit]
Description=Unit to run python script for rgb led
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Led/rgb_led.py
Restart=always

[Install]
WantedBy=multi-user.target